<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>扫描二维码成为马帮会员</title>
<style>
*{margin:o auto;}
body{text-align:center;}
div p{margin-top:30%;font-size:1.3em;color:#333;font-family:"黑体";}
div img{width:60%;margin-top:10%;}
</style>
</head>

<body>

<div>
  <p>扫二维码成为码帮会员</p>
  <img src="https://mp.weixin.qq.com/cgi-bin/showqrcode?ticket=gQGl7zoAAAAAAAAAASxodHRwOi8vd2VpeGluLnFxLmNvbS9xLzZVZ2RkZXZsVHNjM2FDbjl4R1J6AAIEHwk3VQMEAAAAAA==">
</div>
</body>
</html>
